<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">

	<title>About</title>
	<meta name="description" content="Debbie Pan is an aspiring web/ UI/ UX designer living in San Diego, CA. She has knowledge of HTML5, CSS, jQuery, and is familiar with the process of Rapid Contextual Design.">
	<meta name="author" content="Debbie Pan">

	<meta name="viewport" content="width=device-width; initial-scale=1.0">

	<!--Link to CSS Stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'/>

	<!-- Browser Icon -->
	<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>

<body>
<div id="wrapper">
    <header class="col-sm-12">
        <div class="container navbar-fixed-top">
            <div class="name">
                <strong>Debbie Pan </strong> // UI/ UX/ Web Designer
            </div>

            <div id="logo">
                <a href="/"><img src="img/logo.gif" class="size logoanimation" alt="logo"/></a>
            </div>

            <ul class="navigation">
                <li><a href="/works">WORKS</a></li>
                <li><a href="/aboutme">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="img/Resume.pdf" target="_blank">RESUME</a></li>
            </ul>
        </div><!-- end container-->
    </header><!--end header-->
    
    <div id="content"> 
        <div class="container about-container">
            <div class="row">
                <div class="text-center bodoni title">ABOUT ME</div>    
            </div> <!-- end row -->
            
            <div class="row">
                <div class="col-sm-4 col-md-offset-1">
                <img class="me grayscale" src="img/mehome.png" alt="me"/>
                </div>
                
                <div class="col-sm-7">
                    <p class="about">
                    Hi, I'm Debbie and I’m a senior undergraduate studying Human Computer Interaction at UCSD. 
                    </p>
                    
                    <p>
                    Favorite design elements: 
</br>- Clean design - nothing more satisfying than seeing a site with sleek, minimalistic design
</br>- Responsive animations - I love having components move around, creates an enjoyable experience
</br>- Handdrawn art, especially with ink pens and bold strokes

                    </p>
    
                    <p>
                    A little bit about me:
</br>- I love sunny days - rainy days make me want to curl up in bed with my pillow, some hot cocoa and Netflix
</br>- I grew up in the bay area but San Diego’s blue skies and sunny days have converted me into a Socal lover! 
</br>- I love to read science fiction and fantasy books - I think i’ve read most of Michael Crichton’s books
</br>- The little things in life like the smell of fresh laundry, 
</br>- Some people are dog lovers, some people are cat lovers. Me on the other hand, am a bird lover.
</br>- I recently started getting into lifting so you might see me at the gym squatting and deadlifting!  
</br>- I love to eat - especially at little hole-in-the-wall places. I'd go to one of those places over a fancy restaurant any day!
                        
                    </p>
    
                </div>
                
            </div><!-- end row-->
            

        </div><!-- end container-->
    </div><!-- end content-->
    
    
    


    
    
    
    
<footer id="footer">

        <div class="col-sm-12 text-center">
            <a class="fa fa-envelope fa-2x footer-icon" href="mailto:debbie.pan92@gmail.com" target="_blank"></a>
            
            <a class="fa fa-linkedin fa-2x footer-icon" href="http://www.linkedin.com/profile/view?id=259908910&trk=nav_responsive_tab_profile" target="_blank"></a>
            
            <a class="fa fa-pinterest fa-2x footer-icon" href="http://pinterest.com/itsdebbiee/boards/" target="_blank"></a>       
            <a class="fa fa-2x fa-facebook footer-icon" href="https://www.facebook.com/the.debbiee" target="_blank"></a>
                    
        </div>

        <div class="col-sm-12 text-center">
        <p class="copyright">&copy; 2014 DEBBIE PAN</p>
        </div>

</footer>


<!--Link to Javascript/ JQuery-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>    
</div><!-- end wrapper-->
</body>
</html>