<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">

	<title>Competitive Analysis // Works</title>
	<meta name="description" content="Debbie Pan is an aspiring web/ UI/ UX designer living in San Diego, CA. She has knowledge of HTML5, CSS, jQuery, and is familiar with the process of Rapid Contextual Design.">
	<meta name="author" content="Debbie Pan">

	<meta name="viewport" content="width=device-width; initial-scale=1.0">

	<!--Link to CSS Stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<!-- Browser Icon -->
	<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>

<body>
<div id="wrapper">
    <header class="col-sm-12">
        <div class="container navbar-fixed-top">
            <div class="name">
                <strong>Debbie Pan </strong> // UI/ UX/ Web Designer
            </div>

            <div id="logo">
                <a href="/"><img src="img/logo.gif" class="size logoanimation" alt="logo"/></a>
            </div>

            <ul class="navigation">
                <li><a href="/works">WORKS</a></li>
                <li><a href="/aboutme">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="img/Resume.pdf" target="_blank">RESUME</a></li>
            </ul>
        </div><!-- end container-->
    </header><!--end header-->
    
    <div id="content"> 
        <div class="container">
            <div class="row"><!-- start row 1-->
               <h1 class="title text-center uppercase">Competitive Analysis</h1>
            </div><!-- end row 1-->
 
<div class="row">
    <div class="col-sm-12">
        <img class="text-center img-center comp" src="img/companalysis.png" alt="comp analysis first example"/>
    </div>
    
</div>            
  
        
<!-- START PROJECT DESCRIPTION -->            
           
    
            <div class="row"><!-- start row 4-->
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <p class="description">One of the best and most effective ways for creating a website is to analyze what others with similar websites are doing. For my Cognitive Aspects of Digital Design class, we had to create a portfolio showcasing our work. The portfolio I have right now is the one I created for the class, albeit with a few more features than it had back then. I analyzed 10 different portfolio sites in regards to their Brand, Functionality, Interactivity, and Navigation. From this analysis, I was able to get a grasp of the current trends and decide what I ultimately wanted to include in my own portfolio. Analyzing competitor's portfolios and websites is a tremendously helpful skill that I still use to this day when creating a website.</p>
                    
                </div><!-- end col-sm12-->
                <div class="col-sm-2"></div>
            
            </div><!-- end row 4-->  
        
            
<!-- END PROJECT DESCRIPTION -->
    
<!-- START PROJECT PAGE BUTTON-->            
           <div class="row"><!-- start row 3 -->
            <div class="col-sm-12">
                <div class="project-page text-center">
                    <a href="http://acsweb.ucsd.edu/~depan/companalysis/index.html" target="_blank">GO TO PROJECT PAGE  <span class="glyphicon glyphicon-new-window"></span></a>
                    
                
                </div><!-- end project page button-->    
               
            </div><!-- end col-sm-12 -->
           
           </div> <!-- end row 3-->
<!-- END PROJECT PAGE BUTTON-->
            
            
  <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8"><img class="divider" src="img/linedivider.png" alt="line divider"/></div>
            <div class="col-sm-2"></div>
    </div>
        
<!-- START PARTNER/ SKILLS SECTION -->
        <div class="row extra"> <!-- start row 5 -->
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <div class="text-center">
                    <img src="img/group.png" class="group-icon" alt="group"/>
                <h3 class="uppercase">Partners</h3>
                    <p>None</p>
                </div><!-- end text center-->
            
            </div><!--end col-->
            
            <div class="col-sm-4">
                <div class="text-center">
                    <img src="img/tool.png" class="group-icon" alt="tools"/>
                <h3 class="uppercase">Skills</h3>
                </div><!-- end text center-->
                <div class="text-center">
                    <span class="box"><span class="box-text uppercase">HTML</span></span> 
                    <span class="box"><span class="box-text uppercase">CSS</span></span>
                    <span class="box"><span class="box-text uppercase">Competitive Analysis</span></span>

                </div>
            
            </div><!-- end col-->
            
            
            <div class="col-sm-2"></div>
            
        </div><!-- end row 5-->
            
            
<!-- END PARTNER/ SKILLS SECTION -->


        </div><!-- end container-->
    </div><!-- end content-->
    
    
    


    
    
    
<footer id="footer">

        <div class="col-sm-12 text-center">
            <a class="fa fa-envelope fa-2x footer-icon" href="mailto:debbie.pan92@gmail.com" target="_blank"></a>
            
            <a class="fa fa-linkedin fa-2x footer-icon" href="http://www.linkedin.com/profile/view?id=259908910&trk=nav_responsive_tab_profile" target="_blank"></a>
            
            <a class="fa fa-pinterest fa-2x footer-icon" href="http://pinterest.com/itsdebbiee/boards/" target="_blank"></a>       
            <a class="fa fa-2x fa-facebook footer-icon" href="https://www.facebook.com/the.debbiee" target="_blank"></a>
                    
        </div>

        <div class="col-sm-12 text-center">
        <p class="copyright">&copy; 2014 DEBBIE PAN</p>
        </div>

</footer>


<!--Link to Javascript/ JQuery-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="js/foundation.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>  
  
</div><!-- end wrapper-->
</body>
</html>