<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">

	<title>Contact Me</title>
	<meta name="description" content="Debbie Pan is an aspiring web/ UI/ UX designer living in San Diego, CA. She has knowledge of HTML5, CSS, jQuery, and is familiar with the process of Rapid Contextual Design.">
	<meta name="author" content="Debbie Pan">

	<meta name="viewport" content="width=device-width; initial-scale=1.0">

	<!--Link to CSS Stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'/>

	<!-- Browser Icon -->
	<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>

<body>
<div id="wrapper">
    <header class="col-sm-12">
        <div class="container navbar-fixed-top">
            <div class="name">
                <strong>Debbie Pan </strong> // UI/ UX/ Web Designer
            </div>

            <div id="logo">
                <a href="/"><img src="img/logo.gif" class="size logoanimation" alt="logo"/></a>
            </div>

            <ul class="navigation">
                <li><a href="/works">WORKS</a></li>
                <li><a href="/aboutme">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="img/Resume.pdf" target="_blank">RESUME</a></li>
            </ul>
        </div><!-- end container-->
    </header><!--end header-->
    
    <div id="content"> 
        <div class="container">
            <div class="row">
                <div class="text-center bodoni title">CONTACT ME</div>    
            </div> <!-- end row -->
            
            <p class="text-center looking">Currently looking for full-time opportunities starting June 2014</p>
            
            <div class="row">
                <div class="col-sm-12 contact-content">
                    <div class="text-center">
                        <img class="contact-icon" src="img/phone.png" alt="phone icon"/>
                        <p class="contact-info">408.887.2509</p>
                        
                        <img class="contact-icon" src="img/mail.png" alt="mail icon"/>
                        <p class="contact-info">debbie.pan92@gmail.com</p>
                    </div>
                </div> <!--end col-sm-12-->
                
                <!--<div class="col-sm-12" id="contact-form">
                    <p class="text-center">or you can send me an email directly from here!</p>
  
                
                </div>end second col-sm-12-->
            
           <!--
            <div class="row">
                <div class="col-sm-4 col-sm-offset-3">
                    <div class="input-group">
                        <label>Who are you?</label>
                        <input type="text" class="form-control" placeholder="Name">
                    </div><!--end input group
                    <div class="input-group">
                        <label>How can I reach you?</label>
                        <input type="text" class="form-control" placeholder="Email">
                    </div><!--end input group
                    <div class="input-group">
                        <label>What is this about?</label>
                        <input type="text" class="form-control" placeholder="Subject">
                    </div><!--end input group
                </div><!--end col sm 4
                
                <div class="col-sm-4">
                    <div class="input-group">
                        <label>Ok, Let's talk</label>
                        <input type="text" class="form-control" placeholder="Type your message here">
                    </div><!--end input group
                </div><!--end col sm 4           
            </div><!--end row
                
                
            <form>
		  <div class="row">
		    <div class="col-sm-6">
		      <label>Who are you?</label>
		      <input type="text" placeholder="Name" />


		      <label>How can I reach you?</label>
		      <input type="text" placeholder="Email" />



		      <label>What is this about?</label>
		      <input type="text" placeholder="Subject" />
		    </div>

		    <div class="col-sm-6">
		      <label>Ok, Let's Talk</label>
		      <textarea placeholder="Type your message here"></textarea>
		    </div>
		  </div>

		</form>

		<div class="row">
			<div class="col-sm-3">
			
			</div>
		</div>-->
                
            </div> <!--end main content row-->
           
        </div><!-- end container-->
    </div><!-- end content-->
    
    
    
<footer id="footer">

        <div class="col-sm-12 text-center">
            <a class="fa fa-envelope fa-2x footer-icon" href="mailto:debbie.pan92@gmail.com" target="_blank"></a>
            
            <a class="fa fa-linkedin fa-2x footer-icon" href="http://www.linkedin.com/profile/view?id=259908910&trk=nav_responsive_tab_profile" target="_blank"></a>
            
            <a class="fa fa-pinterest fa-2x footer-icon" href="http://pinterest.com/itsdebbiee/boards/" target="_blank"></a>       
            <a class="fa fa-2x fa-facebook footer-icon" href="https://www.facebook.com/the.debbiee" target="_blank"></a>
                    
        </div>

        <div class="col-sm-12 text-center">
        <p class="copyright">&copy; 2014 DEBBIE PAN</p>
        </div>

</footer>


<!--Link to Javascript/ JQuery-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>    
</div><!-- end wrapper-->
</body>
</html>