<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">

	<title>Debbie Pan</title>
	<meta name="description" content="Debbie Pan is an aspiring web/ UI/ UX designer living in San Diego, CA. She has knowledge of HTML5, CSS, jQuery, and is familiar with the process of Rapid Contextual Design.">
	<meta name="author" content="Debbie Pan">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--Link to CSS Stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'/>

	<!-- Browser Icon -->
	<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>

<body>
<div id="wrapper">
    <header class="col-sm-12">
        <div class="container navbar-fixed-top">
            <div class="name">
                <strong>Debbie Pan </strong> // UI/ UX/ Web Designer
            </div>

            <div id="logo">
                <a href="/"><img src="img/logo.gif" class="size logoanimation" alt="logo"/></a>
            </div>

            <ul class="navigation">
                <li><a href="/works">WORKS</a></li>
                <li><a href="/aboutme">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="img/Resume.pdf" target="_blank">RESUME</a></li>
            </ul>
        </div><!-- end container-->
    </header><!--end header-->
    
    <div id="content"> 
        <div class="container">
            <div class="row">
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item ch-img-1">                
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-1">                                     </div>
                                    <div class="ch-info-back">
                                        <h3>Resonote</h3>
                                        <p>ux design, ux development<a href="/resonote">View Project<span class="fa-angle-double-right fa"></span></a></p>
                                    </div>    
                                </div><!-- end info-->
                            </div><!-- end info wrap-->
                        </div> <!-- end ch-img-1-->
                    </li><!--end first list item-->
                    
                    
                    <li>
                        <div class="ch-item ch-img-2">                
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-2">                                     </div>
                                    <div class="ch-info-back">
                                        <h3>SOPi Flyer</h3>
                                        <p>graphic design<a href="/flyers">View Project<span class="fa-angle-double-right fa"></span></a></p>
                                    </div>    
                                </div><!-- end info-->
                            </div><!-- end info wrap-->
                        </div> <!-- end ch-img-2-->
                    </li><!--end second list item-->
                    
                    
                    <li>
                        <div class="ch-item ch-img-3">                
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-3">                                     </div>
                                    <div class="ch-info-back">
                                        <h3>Simply <div>Desserts</div></h3>
                                        <p>web design, web development<a href="/simply-desserts">View Project<span class="fa-angle-double-right fa"></span></a></p>
                                    </div>    
                                </div><!-- end info-->
                            </div><!-- end info wrap-->
                        </div> <!-- end ch-img-2-->
                    </li><!--end third list item-->
                    
                    
                    
                    
                    
                    
                    
                    
                </ul><!-- end ul grid -->
                
                
                
            </div> <!-- end row -->
            
            <div class="row">
                <div class="text-center">
                    <a href="/works"><h3>View More Works</h3>&nbsp;<span class="fa fa-angle-double-right"></span></a>
                </div>
            </div><!-- end row-->
        </div><!-- end container-->
    </div><!-- end content-->
    
    
    


    
    
    
    
    
<footer id="footer">
    
        <div class="col-sm-12 text-center">
            <a class="fa fa-envelope fa-2x footer-icon" href="mailto:debbie.pan92@gmail.com" target="_blank"></a>
            
            <a class="fa fa-linkedin fa-2x footer-icon" href="http://www.linkedin.com/profile/view?id=259908910&trk=nav_responsive_tab_profile" target="_blank"></a>
            
            <a class="fa fa-pinterest fa-2x footer-icon" href="http://pinterest.com/itsdebbiee/boards/" target="_blank"></a>       
            <a class="fa fa-2x fa-facebook footer-icon" href="https://www.facebook.com/the.debbiee" target="_blank"></a>
                    
        </div>
   

        <div class="col-sm-12 text-center">
        <p class="copyright">&copy; 2014 DEBBIE PAN</p>
        </div>

</footer>


<!--Link to Javascript/ JQuery-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="js/foundation.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>    
</div><!-- end wrapper-->
</body>
</html>