<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">

	<title>Resonote // Works</title>
	<meta name="description" content="Debbie Pan is an aspiring web/ UI/ UX designer living in San Diego, CA. She has knowledge of HTML5, CSS, jQuery, and is familiar with the process of Rapid Contextual Design.">
	<meta name="author" content="Debbie Pan">

	<meta name="viewport" content="width=device-width; initial-scale=1.0">

      <!-- Add jQuery Library -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

    
<!-- Link to Lightbox Stylesheet -->
   

	<!-- Add mousewheel plugin (this is optional) -->
	<script type="text/javascript" src="fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

	<!-- Add fancyBox -->
	<link rel="stylesheet" href="fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	<script type="text/javascript" src="fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

	<!-- Optionally add helpers - button, thumbnail and/or media -->
	<link rel="stylesheet" href="fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

	<link rel="stylesheet" href="fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	<script type="text/javascript" src="fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    
	<!--Link to CSS Stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<!-- Browser Icon -->
	<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>

<body>
<div id="wrapper">
    <header class="col-sm-12">
        <div class="container navbar-fixed-top">
            <div class="name">
                <strong>Debbie Pan </strong> // UI/ UX/ Web Designer
            </div>

            <div id="logo">
                <a href="/"><img src="img/logo.gif" class="size logoanimation" alt="logo"/></a>
            </div>

            <ul class="navigation">
                <li><a href="/works">WORKS</a></li>
                <li><a href="/aboutme">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="img/Resume.pdf" target="_blank">RESUME</a></li>
            </ul>
        </div><!-- end container-->
    </header><!--end header-->
    
    <div id="content"> 
        <div class="container">
            <div class="row"><!-- start row 1-->
               <h1 class="title text-center uppercase">Resonote</h1>
            </div><!-- end row 1-->
 
            
<!-- START CAROUSEL-->     
            <div class="row"><!-- start row 2-->
            <div class="col-sm-1"></div>
                <div class="col-sm-10 center">
                
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators res-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>

                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="img/resonote/resonote-home.png" alt="simply desserts homepage"/>
                      <div class="carousel-caption res">
                        Home Page
                      </div>
                    </div>
                      
                    <div class="item">
                        <img src="img/resonote/resonote-about.png" alt="simply desserts second page"/>
                        
                        <div class="carousel-caption res">
                            About Resonote
                        </div>
                    </div>
                    
                    <div class="item">
                        <img src="img/resonote/resonote-song.png" alt="simply desserts second page"/>
                        
                        <div class="carousel-caption res">
                            Example song page
                        </div>
                    </div>  
                      
                    <div class="item">
                        <img src="img/resonote/resonote-wordbank.png" alt="simply desserts second page"/>
                        
                        <div class="carousel-caption res">
                            Word Bank
                        </div>
                    </div>  
   
                      
                    
                  </div><!-- end carousel inner-->

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div><!-- end carousel-->

               </div><!-- end col-sm-10 --> 
                <div class="col-sm-1"></div>
            </div> <!-- end row 2-->

            
<!-- END CAROUSEL-->            
        
<!-- START PROJECT DESCRIPTION -->            
           
    
            <div class="row"><!-- start row 4-->
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <p>For a Human-Computer Interaction class, my team and I decided to build a mobile web app to help French learners find songs to listen to that are close to their language level and in turn, help them learn that language in a more colloquial sense. What resulted was an application that is similar to Rap Genius and Duolingo, with an option for users to save phrases that they wanted to practice more. Our goal is to make language learning a fun and convenient activity that can be done anytime, anywhere.</p>
                    <p class="description">In this project, I took on the role as one of the coders, since I had the most experience with HTML, CSS and jQuery. I helped my other teammate who also had some coding experience with getting the functionality of the application working, but my biggest and most enjoyable role was doing the end UI design.</p>
                    
                </div><!-- end col-sm12-->
                <div class="col-sm-2"></div>
            
            </div><!-- end row 4-->  
        
            
<!-- END PROJECT DESCRIPTION -->
    
<!-- START PROJECT PAGE BUTTON-->            
           <div class="row"><!-- start row 3 -->
            <div class="col-sm-12">
                <div class="project-page text-center res-button">
                    <a href="http://acsweb.ucsd.edu/~depan/resonote/home.html" target="_blank">GO TO PROJECT PAGE  <span class="glyphicon glyphicon-new-window"></span></a>
                    
                    
                
                </div><!-- end project page button-->   
                <div class="text-center res-text">(best viewed in mobile)</div>
               
            </div><!-- end col-sm-12 -->
           
           </div> <!-- end row 3-->
<!-- END PROJECT PAGE BUTTON-->
 
  <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8"><img class="divider div1" src="img/linedivider.png" alt="line divider"/></div>
            <div class="col-sm-2"></div>
    </div> 
            
            
<!-- START PROCESS SECTION -->            


            
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
       
         <a class="fancybox" rel="gallery1" href="img/resonote/SLIDE.jpg" title="This is our advertisement that we created for Resonote. Listen to music and learn French with ease.">
        
        <img class="res-slide res2" src="img/resonote/SLIDE.jpg" alt="resonote slide"/>
        </a>
    </div>   <!-- end col sm 4 --> 
    
    <div class="col-sm-4">
        
         <a class="fancybox" rel="gallery1" href="img/resonote/poster.jpg" title="This is the poster we created for our final demonstration.">
        <img class="res-slide res2" src="img/resonote/poster.jpg" alt="poster"/>
        </a>
    </div>
    
    <div class="col-sm-2"></div>
           
</div> <!--end row-->
            
<div class="row">

            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <hr></hr>
            </div>
            <div class="col-sm-2"></div>
        
            
            
            
</div> <!--end row-->            
            
<div class="row"><!-- start storyboard section-->
    <div class="col-sm-12"><h2 class="text-center uppercase sub-title">Storyboards</h2></div>
    <div class="col-sm-2"></div> 
    <div class="col-sm-4">
        
        <a class="fancybox" rel="gallery2" href="img/resonote/storyboard1.png" title="We created a storyboard to help us gain a better insight into the needs of our users.">
        <img class="res-slide res2" src="img/resonote/storyboard1.png" alt="storyboard"/>
            </a>
    </div>
    <div class="col-sm-4">
         <a class="fancybox" rel="gallery2" href="img/resonote/storyboard2.png" title="The second page of our storyboard.">
        <img class="res-slide res2" src="img/resonote/storyboard2.png" alt="storyboard2"/>
             </a>
    </div>
    <div class="col-sm-2"></div>
</div><!-- end row-->
    

<div class="row">            
<div class="col-sm-2"></div>
    <div class="col-sm-8">
        <p>We created storyboards as part of the process we used to figure out what exactly our users wanted and would need in a situation. This was a helpful way of putting down onto paper an actual real life scenario that our users would use our web application for. Our storyboard depicted the user being frustrated at not being able to find songs that they could understand when trying to practice their French - however, by using an application with preset song difficulties, they were able to practice their French successfully and ace their final exam.</p>
    </div>
    <div class="col-sm-2"></div>
            
</div>  <!-- end row, story board section -->          
            
<div class="row"><!-- divider-->

            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <hr></hr>
            </div>
            <div class="col-sm-2"></div>           
</div> <!--end row, divider-->
     
<div class="row"><!-- paper prototype -->
    <div class="col-sm-12"><h2 class="text-center uppercase sub-title">Paper Prototype</h2></div>
    <div class="col-sm-2"></div> 
    <div class="col-sm-4">
        
         <a class="fancybox" rel="gallery3" href="img/resonote/prototype1.png" title="Here are a couple of pages from our paper prototype.">
        <img class="res-slide res2" src="img/resonote/prototype1.png" alt="storyboard"/>
             </a>
    </div>
    <div class="col-sm-4">
         <a class="fancybox" rel="gallery3" href="img/resonote/prototype2.png" title="Prototype 1 was very helpful for seeing initially what worked and what didn't.">
        <img class="res-slide res2" src="img/resonote/prototype2.png" alt="storyboard2"/>
             </a>
    </div>
    <div class="col-sm-2"></div>
    
    
</div><!-- end row-->
    
<div class="row">            
<div class="col-sm-2"></div>
    <div class="col-sm-8">
        <p>After the storyboard, we created a paper prototype with moving parts to simulate what our product would be like and to test for any breakdowns in the user flow. Quick heuristic evaluations were done by our peers and feedback was provided to help us decide which features to keep or which features to omit in the next design iteration. This was a step that was tremendously helpful to us in weeding out bad design decisions first before we committed more time into coding anything. </p>
    </div>
    <div class="col-sm-2"></div>
            
</div>  <!-- end row, paperprototype section -->
  
<div class="row"><!-- divider-->

            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <hr></hr>
            </div>
            <div class="col-sm-2"></div>           
</div> <!--end row, divider-->    
    
<div class="row"><!-- functional prototype -->
    <div class="col-sm-12"><h2 class="text-center uppercase sub-title">Functional Prototype</h2></div>

    <div class="col-sm-2"></div>
    <div class="col-sm-8 img-center">
        <a class="fancybox" rel="gallery4" href="img/resonote/fp1.jpg" title="User #1 testing out our functional prototype.">    
        <img class="fp" src="img/resonote/fp1.jpg" alt="user testing 1"/>
            </a>
        
        <a class="fancybox" rel="gallery4" href="img/resonote/fp2.jpg" title="Navigating through the home page.">
        <img class="fp" src="img/resonote/fp2.jpg" alt="user testing 2"/>
            </a>
        
        <a class="fancybox" rel="gallery4" href="img/resonote/fp3.jpg" title="Trying to figure out the list of all the songs.">
        <img class="fp" src="img/resonote/fp3.jpg" alt="user testing 3"/>   
            </a>
    </div>
    <div class="col-sm-2"></div>
    
    <div class="col-sm-12 img-center">
        
        <a class="fancybox" rel="gallery4" href="img/resonote/fp4.jpg" title="The word bank works! Not all too pretty though.">
        <img class="fp" src="img/resonote/fp4.jpg" alt="user testing 4"/>
            </a>
        
        <a class="fancybox" rel="gallery4" href="img/resonote/fp5.jpg" title="No favorite songs yet :(">
        <img class="fp" src="img/resonote/fp5.jpg" alt="user testing 5"/>
            </a>
    </div>
    
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
    <p class="description">With the initial kinks and breakdowns identified from the heuristic evaluations, we proceeded create our first functional prototype. This time around, we conducted user studies and interviews with real users from our user group to further iron out more problems. We found that users were confused about the icons in our navigation bar and thought that the French flag we had in the middle as an icon for All Songs was a pause button instead. They also were confused that when they switched to a different page, the page would load at the bottom so sometimes there would be no content - so many thought they broke the program. These were just a few of the many problems that they encountered and after taking note of what areas were confusing, we were able to make our final prototype a lot better. The final prototype showcased above is the result of many iterations of testing and overall, was a great hands-on experience.</p>
    </div>
    <div class="col-sm-2"></div>
    
    
</div><!-- end row, functional prototype-->    
    
    
<!-- END PROCESS SECTION-->           
            
            
            
  <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8"><img class="divider" src="img/linedivider.png" alt="line divider"/></div>
            <div class="col-sm-2"></div>
    </div>
        
<!-- START PARTNER/ SKILLS SECTION -->
        <div class="row extra"> <!-- start row 5 -->
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <div class="text-center">
                    <img src="img/group.png" class="group-icon" alt="group"/>
                <h3 class="uppercase">Partners</h3>
                    <p>Troy Campbell, Arielle Marom</p>
                </div><!-- end text center-->
            
            </div><!--end col-->
            
            <div class="col-sm-4">
                <div class="text-center">
                    <img src="img/tool.png" class="group-icon" alt="tools"/>
                <h3 class="uppercase">Skills</h3>
                </div><!-- end text center-->
                <div class="text-center">
                    <span class="box"><span class="box-text uppercase">HTML</span></span> 
                    <span class="box"><span class="box-text uppercase">CSS</span></span>
                    <span class="box"><span class="box-text uppercase">jQuery</span></span>
                    <span class="box"><span class="box-text uppercase">Javascript</span></span>
                    </br>
                    <span class="box development"><span class="box-text uppercase">user research</span></span>
                <span class="box development"><span class="box-text uppercase">usability evaluation</span></span>
               
                <span class="box development"><span class="box-text uppercase">wireframing</span></span>
                <span class="box"><span class="box-text uppercase">storyboarding</span></span>
                <span class="box"><span class="box-text uppercase">low-fidelity prototyping</span></span>
                </div>
            

            </div><!-- end col-->
            
            
            <div class="col-sm-2"></div>
            
        </div><!-- end row 5-->
            
            
<!-- END PARTNER/ SKILLS SECTION -->


        </div><!-- end container-->
    </div><!-- end content-->
    
    
    

<footer id="footer">

        <div class="col-sm-12 text-center">
            <a class="fa fa-envelope fa-2x footer-icon" href="mailto:debbie.pan92@gmail.com" target="_blank"></a>
            
            <a class="fa fa-linkedin fa-2x footer-icon" href="http://www.linkedin.com/profile/view?id=259908910&trk=nav_responsive_tab_profile" target="_blank"></a>
            
            <a class="fa fa-pinterest fa-2x footer-icon" href="http://pinterest.com/itsdebbiee/boards/" target="_blank"></a>       
            <a class="fa fa-2x fa-facebook footer-icon" href="https://www.facebook.com/the.debbiee" target="_blank"></a>
                    
        </div>

        <div class="col-sm-12 text-center">
        <p class="copyright">&copy; 2014 DEBBIE PAN</p>
        </div>

</footer>


<!--Link to Javascript/ JQuery-->

<script type="text/javascript" src="js/foundation.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>  
  
</div><!-- end wrapper-->
</body>
</html>