<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">

	<title>Works</title>
	<meta name="description" content="Debbie Pan is an aspiring web/ UI/ UX designer living in San Diego, CA. She has knowledge of HTML5, CSS, jQuery, and is familiar with the process of Rapid Contextual Design.">
	<meta name="author" content="Debbie Pan">

	<meta name="viewport" content="width=device-width; initial-scale=1.0">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    
	<!--Link to CSS Stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'/>
    
       <script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>

	<!-- Browser Icon -->
	<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />

</head>

<body>
<div id="wrapper">
    <header class="col-sm-12">
        <div class="container navbar-fixed-top">
            <div class="name">
                <strong>Debbie Pan </strong> // UI/ UX/ Web Designer
            </div>

            <div id="logo">
                <a href="/"><img src="img/logo.gif" class="size logoanimation" alt="logo"/></a>
            </div>

            <ul class="navigation">
                <li><a href="/works">WORKS</a></li>
                <li><a href="/aboutme">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="img/Resume.pdf" target="_blank">RESUME</a></li>
            </ul>
        </div><!-- end container-->
    </header><!--end header-->
    
    <div id="content"> 
        <div class="container">
            <div class="row">
                <div class="text-center bodoni title">WORKS</div>
           
            </div><!-- end row -->
            
            <div class="row text-center">

                <a href="/illustrations"><img src="img/works/illustrations.png" class="works-img grayscale" alt="illustrations"/></a>
                
                <a href="/resonote"><img src="img/works/resonote.png" class="works-img grayscale" alt="resonote"/></a>
                
                <a href="/flyers"><img src="img/works/flyers.png" class="works-img grayscale" alt="flyers"/></a>
                
                <a href="/gsu-evaluation"><img src="img/works/gsu.png" class="works-img grayscale" alt="gsu"/></a>
            
            </div><!-- end row -->
            
            <div class="row text-center works2">
                <a href="/simply-desserts"><img src="img/works/desserts.png" class="works-img grayscale" alt="desserts"/></a>
                
                <a href="/competitive-analysis"><img src="img/works/companalysis2.png" class="works-img grayscale" alt="companalysis"/></a>

                <a href="/cognection"><img src="img/works/cognection.png" class="works-img grayscale" alt="cognection"/></a>
                
                
            </div><!-- end row->
            
        </div><!-- end container-->
    </div><!-- end content-->
    
    
    

<footer id="footer">

        <div class="col-sm-12 text-center">
            <a class="fa fa-envelope fa-2x footer-icon" href="mailto:debbie.pan92@gmail.com" target="_blank"></a>
            
            <a class="fa fa-linkedin fa-2x footer-icon" href="http://www.linkedin.com/profile/view?id=259908910&trk=nav_responsive_tab_profile" target="_blank"></a>
            
            <a class="fa fa-pinterest fa-2x footer-icon" href="http://pinterest.com/itsdebbiee/boards/" target="_blank"></a>       
            <a class="fa fa-2x fa-facebook footer-icon" href="https://www.facebook.com/the.debbiee" target="_blank"></a>
                    
        </div>


        <div class="col-sm-12 text-center">
        <p class="copyright">&copy; 2014 DEBBIE PAN</p>
        </div>

</footer>


<!--Link to Javascript/ JQuery-->

<script type="text/javascript" src="js/script.js"></script>    
</div><!-- end wrapper-->
</body>
</html>